(vwg_app_routes) {
	handle /Meijendel.sql {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/data
		header Content-Type "text/plain; charset=utf-8"
		file_server
	}

	handle /meijendel.sql {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/data
		header Content-Type "text/plain; charset=utf-8"
		file_server
	}

	handle /shiny_meijendel* {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		reverse_proxy 127.0.0.1:3838
	}

	handle_path /proef-vwg-m-app* {
		reverse_proxy 127.0.0.1:8091
	}

	handle_path /proef-vwg-m* {
		root * /srv/vwgm/vwg-m-proef/public
		file_server
	}

	handle /bmp_meijendel_index.html {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/www
		file_server
	}

	handle /trim* {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/www
		file_server
	}

	handle /output_ecologische_groepen* {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/www
		file_server
	}

	handle /trim_msi_evg* {
		forward_auth 127.0.0.1:8091 {
			uri /leden/shiny-auth
		}
		root * /srv/vwgm/www
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:8091
	}
}

vwg-m.nl {
	redir https://www.vwg-m.nl{uri} permanent
}

www.vwg-m.nl, app.vwg-m.nl {
	encode gzip zstd
	log {
		output file /var/log/caddy/app.vwg-m.nl-access.log {
			roll_size 20MiB
			roll_keep 10
			roll_keep_for 90d
		}
		format json {
			time_format iso8601
		}
	}
	log_append auth_user {http.auth.user.id}

	handle {
		import vwg_app_routes
	}
}
